body {
    padding-top: 120px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
/*.body-content {
    padding-left: 15px;
    padding-right: 15px;
}*/

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* Datatables Select List and Search filter styling for dark theme*/
.dataTables_length > label > select, .dataTables_length > label > select:focus, .dataTables_length > label > select option, .dataTables_filter > label > input {
    color: #00bc8c;
    background-color: #222 !important;
    border: 1px solid #00bc8c;
}
    .dataTables_filter > label > input:focus {
        color: #00bc8c;
    }
/*****************************************************************/

/*Overriding theme */
body, .table {
    color: #aaa;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
.page-link {
    color:#d2d0d0
}
@media screen and (max-width: 767px) {
    div.dataTables_wrapper div.dataTables_length,
    div.dataTables_wrapper div.dataTables_filter,
    div.dataTables_wrapper div.dataTables_info,
    div.dataTables_wrapper div.dataTables_paginate {
        text-align: left;
    }
}

@media screen and (max-width: 767px) {
    div.dataTables_wrapper div.dataTables_paginate {
        margin-top: 15px;
    }
}

table.dataTable.dtr-inline.collapsed > tbody > tr > td:first-child:before, table.dataTable.dtr-inline.collapsed > tbody > tr > th:first-child:before {
    color: #cacaca;
    border: 1px solid #dedbdb;
    box-shadow: 0 0 3px #444;
    box-sizing: content-box;
    background-color: transparent;
    padding: 2px;
}
    /************************************/